.checkout-page-top {
  padding: 30px 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.checkout-page-top a:hover {
  color: #f75454;
}

.checkout-page-top i {
  display: block;
  margin: 0 10px;
}

.checkout-page-bottom {
  background-color: #fff6f6;
  padding: 20px 60px 40px;
}

.checkout-page-bottom > h3 {
  text-align: center;
  font-size: 28px;
  margin: 40px 0;
}

.checkout-page-bottom-wrap {
  display: flex;
  align-items: flex-start;
  margin: 0 -20px;
}

.checkout-page-bottom-left {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 40px 30px;
  margin: 0 20px;
  width: 66.6667%;
}

.checkout-page-bottom-left > a {
  width: fit-content;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid rgba(0,0,0,0.1);
}

.checkout-page-bottom-left > a i {
  margin-right: 8px;
}

.checkout-page-bottom-left > a:hover {
  background-color: rgba(0,0,0,0.1);
}

.checkout-page-form {
  margin-top: 20px;
}

.checkout-page-form-group {
  margin-bottom: 20px;
}

.checkout-page-form-group:last-child {
  margin-bottom: 0;
}

.checkout-page-form-group span {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.checkout-page-form-group span span {
  display: inline-block;
  color: #f75454;
}

.checkout-page-form-group input {
  border: 1px solid rgba(0,0,0,0.1);
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  font-size: 14px;
  transition: all .3s;
}

.checkout-page-form-group select {
  width: 100%;
  margin-top: 8px;
  padding: 6px 0;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.1);
}

.checkout-page-form-group input:focus {
  border: 1px solid #000;
}

.checkout-page-bottom-right {
  margin: 0 20px;
  padding: 40px 30px;
  width: 33.33333%;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}

.checkout-page-cart-list {
  margin-top: 20px;
}

.checkout-page-cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout-page-cart-item:last-child {
  margin-bottom: 0;
}

.checkout-page-cart-item .name {
  font-size: 15px;
  font-weight: bold;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.checkout-page-cart-item .name > span {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  margin-top: 4px;
}

.checkout-page-cart-item .name > span span {
  display: inline-block;
  margin-left: 3px;
}

.checkout-page-cart-item .price {
  font-size: 15px;
  font-weight: bold;
  color: #f75454;
}

.checkout-page-cart-total {
  border: 1px solid rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  font-weight: bold;
}

.checkout-page-cart-total span:last-child {
  color: #f75454;
}

.checkout-page-cart-payment {
  margin-top: 20px;
}

.checkout-page-cart-payment ul li {
  margin: 20px 0;
  font-size: 15px;
}

.checkout-page-cart-payment ul li label {
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
}

.checkout-page-cart-payment ul li span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #7f7f83;
}

.checkout-page-btn {
  margin-top: 24px;
  padding: 16px 0;
  width: 100%;
  background-color: #161619;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: all .5s;
}

.checkout-page-btn:hover {
  background-color: #000;
}

@media screen and (max-width: 1023px) {
  .checkout-page-bottom > h3 {
    margin: 20px 0 30px;
  }

  .checkout-page-bottom-left, .checkout-page-bottom-right {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 767px) {
  .checkout-page-top {
    padding: 30px 40px;
  }

  .checkout-page-bottom {
    padding: 20px 40px 40px;
  }

  .checkout-page-bottom-wrap {
    margin: 0 -10px;
  }

  .checkout-page-bottom-left, .checkout-page-bottom-right {
    margin: 0 10px;
    padding: 30px 20px;
  }

  .checkout-page-bottom-left {
    width: 60%;
  }

  .checkout-page-bottom-right {
    width: 40%;
  }

  .checkout-page-cart-item .name {
    margin-right: 15px;
  }

  .checkout-page-btn {
    padding: 14px 0;
    margin-top: 14px;
    font-size: 17px;
  }
}

@media screen and (max-width: 479px) {
  .checkout-page-top {
    padding: 20px 30px;
    font-size: 15px;
  }

  .checkout-page-bottom {
    padding: 10px 30px 30px;
  }

  .checkout-page-bottom-wrap {
    flex-wrap: wrap;
  }

  .checkout-page-bottom-left {
    width: 100%;
    padding: 20px;
  }

  .checkout-page-bottom-left > a {
    padding: 6px 8px;
    font-size: 15px;
  }

  .checkout-page-bottom-left > h3 {
    text-align: center;
  }

  .checkout-page-form-group input, .checkout-page-form-group > div {
    font-size: 13px;
  }

  .checkout-page-bottom-right {
    width: 100%;
    margin-top: 10px;
    padding: 20px;
  }

  .checkout-page-bottom-right > h3 {
    text-align: center;
    font-size: 19px;
  }

  .checkout-page-cart-list {
    margin-top: 14px;
  }

  .checkout-page-cart-item .name {
    margin-right: 10px;
    font-size: 14px;
  }

  .checkout-page-cart-item .price, .checkout-page-cart-total span:last-child {
    font-size: 14px;
  }

  .checkout-page-cart-payment ul li {
    margin: 14px 0;
  }
  
  .checkout-page-cart-payment ul li span {
    font-size: 13px;
  }

  .checkout-page-btn {
    padding: 12px 0;
    font-size: 15px;
  }
}