.loading-container {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-label {
  font-size: 20px; 
  text-align: center;
  color: #2a2c36; 
  margin-right: 12px;
}

.loading-container .svgLoader {
  width: 2em; 
  height: 2em;
}

@media screen and (max-width: 479px) {
  .loading-label {
    font-size: 18px;
  }

  /* Category page responsive */
  .category-page-bottom-product .loading-container {
    margin-top: 20px;
  }
}