.login-page {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-image: linear-gradient(to right, #d3e5e8, #e4f2f4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page-container {
  width: 60%;
  padding: 60px;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.login-page-img {
  width: 40%;
}

.login-page-img a {
  margin-bottom: 25px;
}

.login-page-img a:hover {
  text-decoration: underline;
}

.login-page-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-page-form h3 {
  font-size: 34px;
  align-self: center;
}

.login-page-input {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 2px solid rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  border-radius: 6px;
  transition: all .5s;
}

.login-page-input input {
  font-size: 16px;
  margin-left: 10px;
  flex: 1;
}

.login-page-form .error {
  font-size: 15px;
  font-weight: bold;
  color: #f75454;
  margin-top: 8px;
}

.login-page-form .res-err {
  font-size: 16px;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
  color: #f75454;
  margin: 6px 0;
}

.login-page-form button {
  padding: 15px 30px;
  margin: 20px 0;
  background-color: #6dabe4;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
  transition: all .5s;
}

.login-page-form button:hover {
  background-color: #4292dc;
}

.login-page-form a {
  margin-top: 30px;
  text-decoration: underline;
}

.login-page-form a:hover {
  text-decoration: none;
}

@media screen and (max-width: 1023px) {
  .login-page-container {
    flex-direction: column;
  }

  .login-page-img img {
    height: 0;
  }

  .login-page-img, .login-page-form {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .login-page-img a {
    margin-bottom: 10px;
  }

  .login-page-container {
    width: 80%;
    padding: 40px;
  }

  .login-page-form h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 479px) {
  .login-page-form h3 {
    font-size: 28px;
  }

  .login-page-container {
    width: 90%;
    padding: 30px 20px;
  }

  .login-page-input input {
    font-size: 15px;
  }

  .login-page-form a {
    margin-top: 20px;
  }

  .login-page-form button {
    padding: 10px 25px;
  }
}